* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1140px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .container {
    width: 736px;
  }
}
.header {
  background: #222;
  padding: 18px 0;
}
.header__container {
  display: flex;
  align-items: end;
}
.header__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__logo {
  width: 44px;
  height: 38px;
  margin-right: 40px;
}
.header__search {
  width: 26px;
  height: 27px;
  margin-right: auto;
}
.header__burger {
  width: 32px;
  height: 23px;
  margin-right: 33px;
}
.header__person {
  width: 29px;
  height: 29px;
  margin-right: 33px;
}
.header__basket {
  width: 32px;
  height: 29px;
}

@media (min-width: 768px) and (max-width: 1060px) {
  .header__burger {
    margin-right: 25px;
  }
  .header__person {
    margin-right: 25px;
  }
}
.showcase {
  background: #F1E4E6;
}
.showcase__container {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
}
.showcase__img {
  width: 800px;
  height: 100%;
  margin-right: 63px;
}
.showcase__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.showcase__title {
  text-transform: uppercase;
  line-height: normal;
  width: 377px;
  position: relative;
}
.showcase__title--one {
  font-size: 48px;
  font-weight: 900;
}
.showcase__title--two, .showcase__title--three {
  font-size: 32px;
  font-weight: 700;
}
.showcase__title--three {
  color: #F16D7F;
}
.showcase__title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  background: #F16D7F;
  top: 0;
  bottom: 0;
  left: -28px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .showcase__img {
    width: 386px;
    margin-right: 39px;
  }
  .showcase__title {
    width: 283px;
  }
  .showcase__title--one {
    font-size: 44px;
  }
  .showcase__title--two, .showcase__title--three {
    font-size: 24px;
  }
}
.catalog__container {
  margin-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.catalog__card {
  position: relative;
  overflow: hidden;
}
.catalog__card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}
.catalog__card--one {
  height: 260px;
}
.catalog__card--full {
  height: 180px;
  grid-column: 1/4;
}
.catalog__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 22, 22, 0.6980392157);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.catalog__sale {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}
.catalog__descr {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .catalog__container {
    margin-bottom: 110px;
    gap: 20px;
  }
  .catalog__card--one {
    height: 167px;
  }
  .catalog__card--full {
    height: 116px;
  }
}
.product__container {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product__title {
  grid-column: 1/-1;
  margin-bottom: 48px;
}
.product__title > h2 {
  font-size: 30px;
  text-align: center;
}
.product__title > p {
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
}
.product__card {
  background: #F8F8F8;
}
.product__img {
  height: 420px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}
.product__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__text {
  padding: 25px 16px;
}
.product__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.product__deck {
  color: #5D5D5D;
  font-size: 14px;
  margin-bottom: 16px;
}
.product__prise {
  color: #F16D7F;
  font-size: 16px;
}
.product__link {
  display: block;
  grid-column: 1/-1;
  margin: auto;
  background: #fff;
  border: 1px solid #FF6A6A;
  width: 212px;
  min-height: 48px;
  padding: 15px 39px;
  color: #F26376;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__name {
    margin-bottom: 13px;
  }
}/*# sourceMappingURL=style.css.map */