* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}
a:active,
button:active {
  border: none;
}

input {
  border-style: none;
}
input:active {
  border: none;
}

.container {
  width: 1140px;
  margin: auto;
}

fieldset {
  border: none;
}

@media (max-width: 1180px) {
  .container {
    width: 736px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
.header {
  background: #222;
  padding: 18px 0;
  position: relative;
}
.header__container {
  display: flex;
  align-items: end;
}
.header__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__logo {
  width: 44px;
  height: 38px;
  margin-right: 40px;
}
.header__search {
  width: 26px;
  height: 27px;
  margin-right: auto;
}
.header__burger {
  width: 32px;
  height: 23px;
  margin-right: 33px;
}
.header__person {
  width: 29px;
  height: 29px;
  margin-right: 33px;
}
.header__basket {
  width: 32px;
  height: 29px;
  position: relative;
}
.header__quantity {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.header__menu {
  padding: 32px 33px;
  width: 232px;
  background: #FFFFFF;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
}
.header__close {
  width: 12px;
  height: 12px;
  margin-bottom: 8px;
  margin-left: auto;
}
.header__close > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header:hover > .header__menu {
  display: block;
}

.menu__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: block;
  margin-top: 12px;
}
.menu__category {
  font-size: 14px;
  text-transform: uppercase;
  color: #F16D7F;
}
.menu__subcategories {
  margin-left: 20px;
  font-size: 14px;
  color: #6F6E6E;
  text-transform: none;
}

@media (max-width: 1180px) {
  .header__burger {
    margin-right: 25px;
  }
  .header__person {
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .header__burger {
    margin-right: 0;
  }
  .header__person, .header__basket {
    display: none;
  }
}
.subscription {
  position: relative;
}
.subscription__background {
  width: 100%;
  min-height: 448px;
  height: 100%;
  background: url(./img/subscription.png) 0 0/100% no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.subscription__background::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  opacity: 0.7;
}
.subscription__container {
  padding: 97px 0 126px 0;
  display: flex;
  justify-content: space-between;
}
.subscription__review {
  max-width: 360px;
}
.subscription__form {
  max-width: 557px;
}

.review__img {
  width: 96px;
  height: 96px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 50%;
}
.review__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__text, .review__text > i {
  font-size: 20px;
  text-align: center;
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.form__text {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form__subscription {
  margin: auto;
  width: 356px;
  height: 49px;
  border: none;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.form__subscription > input {
  border: none;
  font-size: 14px;
  color: #222224;
  width: 100%;
  height: 100%;
  background: #E1E1E1;
  padding: 22px;
  padding-right: 233px;
}
.form__subscription > button {
  border: none;
  background: #F16D7F;
  color: #FFFFFF;
  padding: 0 22px;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

@media (max-width: 1180px) {
  .subscription__container {
    display: block;
    margin: auto;
  }
  .review {
    margin: auto;
  }
  .review__text {
    margin-bottom: 48px;
  }
  .form {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .subscription__form {
    width: 100%;
  }
  .form__subscription {
    width: 100%;
  }
  .review__text, .review__text > i {
    font-size: 18px;
  }
}
.footer {
  background: #222224;
  padding: 30px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__copyright > p {
  font-size: 16px;
  color: #FBFBFB;
}
.footer__social {
  height: 32px;
  display: flex;
  align-items: end;
}
.footer__icon {
  height: 100%;
  width: auto;
}
.footer__icon:not(:last-child) {
  margin-right: 7px;
}
.footer__icon > a > svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__icon > a > svg .rect {
  fill: #FFFFFF;
}
.footer__icon > a > svg .logo {
  fill: #000000;
}
.footer__icon > a > svg:hover .rect {
  fill: #F16D7F;
}
.footer__icon > a > svg:hover .logo {
  fill: #FFFFFF;
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 5px;
  }
  .footer__copyright {
    order: 1;
    width: 100%;
  }
  .footer__copyright > p {
    text-align: center;
  }
  .footer__social {
    margin: auto;
    margin-bottom: 40px;
  }
}
.breadcrumb {
  min-height: 148px;
  background-color: #F8F3F4;
}
.breadcrumb__container {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__name {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
}
.breadcrumb span {
  color: #636363;
  text-transform: uppercase;
  font-size: 14px;
}
.breadcrumb span:not(:last-child)::after {
  content: " / ";
}
.breadcrumb span:last-child {
  color: #F16D7F;
}

.showcase {
  background: #F1E4E6;
}
.showcase__container {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  min-height: 363px;
}
.showcase__img {
  width: 800px;
  height: 100%;
  margin-right: 63px;
}
.showcase__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.showcase__title {
  text-transform: uppercase;
  line-height: normal;
  width: 377px;
  position: relative;
}
.showcase__title--one {
  font-size: 48px;
  font-weight: 900;
}
.showcase__title--two, .showcase__title--three {
  font-size: 32px;
  font-weight: 700;
}
.showcase__title--three {
  color: #F16D7F;
}
.showcase__title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  background: #F16D7F;
  top: 0;
  bottom: 0;
  left: -28px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .showcase__img {
    width: 386px;
    margin-right: 39px;
  }
  .showcase__title {
    width: 253px;
  }
  .showcase__subtitle--one {
    font-size: 44px;
  }
  .showcase__subtitle--two, .showcase__subtitle--three {
    font-size: 24px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .showcase__container {
    justify-content: center;
  }
  .showcase__img {
    display: none;
  }
  .showcase__title {
    width: 243px;
    margin: auto;
  }
  .showcase__title--one {
    font-size: 38px;
  }
  .showcase__title--two, .showcase__title--three {
    font-size: 20px;
  }
}
.sections__container {
  margin-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.sections__card {
  position: relative;
  overflow: hidden;
}
.sections__card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}
.sections__card--one {
  height: 260px;
}
.sections__card--full {
  height: 180px;
  grid-column: 1/-1;
}
.sections__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 22, 22, 0.6980392157);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.sections__sale {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}
.sections__descr {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .sections__container {
    margin-bottom: 110px;
    gap: 20px;
  }
  .sections__card--one {
    height: 167px;
  }
  .sections__card--full {
    height: 116px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .sections__container {
    margin-bottom: 64px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sections__card--one {
    height: 247px;
  }
  .sections__card--full {
    height: 111px;
  }
}
.popular__container {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular__title {
  grid-column: 1/-1;
  margin-bottom: 48px;
}
.popular__title > h2 {
  font-size: 30px;
  text-align: center;
}
.popular__title > p {
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
}
.popular__card {
  background: #F8F8F8;
}
.popular__img {
  height: 420px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.popular__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular__img::after {
  content: url(./img/basket.png);
  position: absolute;
}
.popular__img:hover > .popular__basket {
  opacity: 0.86;
  display: flex;
}
.popular__basket {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #3A3838;
  display: none;
  justify-content: center;
  align-items: center;
}
.popular__basket > a {
  display: block;
  width: 139px;
  height: 44px;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 13px;
  padding-left: 50px;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.popular__basket > a::before {
  content: url(./img/basket.png);
  width: 26px;
  height: 24px;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.popular__text {
  padding: 25px 16px;
}
.popular__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.popular__deck {
  color: #5D5D5D;
  font-size: 14px;
  margin-bottom: 16px;
}
.popular__prise {
  color: #F16D7F;
  font-size: 16px;
}
.popular__link {
  display: block;
  grid-column: 1/-1;
  margin: auto;
  background: #fff;
  border: 1px solid #FF6A6A;
  width: 212px;
  min-height: 48px;
  padding: 15px 39px;
  color: #F26376;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .popular__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__name {
    margin-bottom: 13px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .popular__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages {
  background-color: #222224;
}
.advantages__container {
  padding: 103px 0;
  display: flex;
  justify-content: space-between;
}
.advantages__card {
  max-width: 360px;
}

.advantage {
  color: #FBFBFB;
}
.advantage__img {
  width: 45px;
  height: 31px;
  margin: auto;
  margin-bottom: 28px;
}
.advantage__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantage__title {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 16px;
}
.advantage__descr {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 1160px) {
  .advantages__container {
    display: block;
  }
  .advantages__card {
    margin: auto;
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .advantage__img {
    width: 43px;
    height: 30px;
  }
}
.slider {
  height: 777px;
  position: relative;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__arrow {
  width: 47px;
  height: 47px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(42, 42, 42, 0.1725490196);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider__arrow-left {
  left: 0;
}
.slider__arrow-right {
  right: 0;
}
.slider__arrow svg {
  width: 12px;
  height: 21px;
  fill: #000000;
}
.slider__arrow:hover svg {
  fill: #F16D7F;
}
.slider__img {
  height: 100%;
  width: auto;
  margin: auto;
}
.slider__img img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .slider {
    height: 624px;
  }
  .slider__img {
    width: 80%;
    height: auto;
  }
  .slider__img img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.description__container {
  width: 1140px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  margin-bottom: 128px;
  position: relative;
  top: -64px;
}
.description__collection {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  margin-top: 65px;
  margin-bottom: 26px;
  text-align: center;
}
.description__collection::before {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 50%;
  transform: translateX(50%);
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
}
.description__name {
  color: #4D4D4D;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
  text-align: center;
}
.description__text {
  width: 550px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
}
.description__price {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 130px;
  text-align: center;
  position: relative;
}
.description__price::before {
  content: "";
  position: absolute;
  bottom: -64px;
  right: 50%;
  transform: translateX(50%);
  width: 70%;
  height: 1px;
  background-color: #EAEAEA;
}
.description__choose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.description__link {
  display: block;
  margin: auto;
  background: #fff;
  border: 1px solid #FF6A6A;
  width: 212px;
  min-height: 48px;
  padding: 15px 57px 14px 73px;
  margin-bottom: 64px;
  text-align: center;
  vertical-align: top;
  color: #F26376;
  position: relative;
}
.description__link svg {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 22px;
  width: 26px;
  height: 24px;
}

.choose__menu {
  color: #6F6E6E;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  padding-right: 19px;
}
.choose__menu a {
  width: 10px;
  height: auto;
  position: absolute;
  right: 0px;
  top: -10%;
}
.choose__menu:not(:last-child) {
  margin-right: 23px;
}

@media (max-width: 1180px) {
  .description__container {
    width: 736px;
  }
}
@media (max-width: 767px) {
  .description__container {
    width: 100%;
    top: 0;
    margin-bottom: 64px;
    padding: 64px 25px;
  }
  .description__text {
    width: 100%;
  }
  .choose__menu {
    font-size: 10px;
  }
}
.product__container {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product__title {
  grid-column: 1/-1;
  margin-bottom: 48px;
}
.product__title > h2 {
  font-size: 30px;
  text-align: center;
}
.product__title > p {
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
}
.product__card {
  background: #F8F8F8;
}
.product__img {
  height: 420px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.product__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__img::after {
  content: url(./img/basket.png);
  position: absolute;
}
.product__img:hover > .product__basket {
  opacity: 0.86;
  display: flex;
}
.product__basket {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #3A3838;
  display: none;
  justify-content: center;
  align-items: center;
}
.product__basket > a {
  display: block;
  width: 139px;
  height: 44px;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 13px;
  padding-left: 50px;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.product__basket > a::before {
  content: url(./img/basket.png);
  width: 26px;
  height: 24px;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.product__text {
  padding: 25px 16px;
}
.product__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.product__deck {
  color: #5D5D5D;
  font-size: 14px;
  margin-bottom: 16px;
}
.product__prise {
  color: #F16D7F;
  font-size: 16px;
}
.product__link {
  display: block;
  grid-column: 1/-1;
  margin: auto;
  background: #fff;
  border: 1px solid #FF6A6A;
  width: 212px;
  min-height: 48px;
  padding: 15px 39px;
  color: #F26376;
  font-size: 14px;
}

@media (max-width: 1180px) {
  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__name {
    margin-bottom: 13px;
  }
}
@media (max-width: 767px) {
  .product__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cart__container {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart__cards {
  width: 652px;
  display: flex;
  flex-direction: column;
}
.cart__forms {
  width: 360px;
}
.cart__name {
  color: #222222;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.cart__links {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
.cart__link {
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
.cart__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cart__sum {
  background-color: #F5F3F3;
  width: 100%;
  padding: 39px 34px 42px 44px;
}
.cart__sum button {
  display: block;
  padding: 15px 43px;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  border: none;
}

.cards__card {
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.1764705882);
  border: 1px solid #EAEAEA;
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}
.cards__img {
  width: 262px;
  height: 100%;
}
.cards__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__info {
  padding: 22px 57px 22px 31px;
}
.cards__info div, .cards__info div span {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.3;
}
.cards__info div {
  color: #575757;
}
.cards__name {
  color: #575757;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 42px;
}
.cards__price span {
  color: #EF5B70;
}
.cards__quantity > span {
  border: 1px solid #EAEAEA;
  padding: 2px 17px;
  margin-left: 24px;
}
.cards__close {
  margin-top: 28px;
  margin-right: 22px;
}
.cards__close > svg {
  width: 18px;
  height: 18px;
}

.form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 17px;
  padding-top: 13px;
  border: 1px solid #EAEAEA;
  min-height: 45px;
  color: #222222;
  font-size: 13px;
  font-weight: normal;
}
.form input:active, .form input:hover {
  color: #B1B1B1;
  border: 1px solid #EAEAEA;
}
.form input[type=button] {
  width: auto;
  background-color: #fff;
  color: #4A4A4A;
  margin-bottom: 57px;
}

.sum__total {
  font-weight: normal;
  text-align: right;
  margin-bottom: 12px;
}
.sum__total, .sum__total span {
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 11px;
  margin-left: 20px;
}
.sum__pay, .sum__pay span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
}
.sum__pay span {
  color: #F16D7F;
  font-weight: bold;
  margin-left: 20px;
}
.sum__pay {
  color: #4A4A4A;
  text-align: right;
  margin-bottom: 39px;
  position: relative;
}
.sum__pay::before {
  content: "";
  position: absolute;
  bottom: -21px;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;
}

@media (max-width: 1180px) {
  .cart__container {
    flex-wrap: wrap;
  }
  .cart__cards, .cart__forms {
    width: 100%;
  }
  .cart__forms {
    margin-top: 64px;
  }
  .cart__form {
    flex-direction: row;
    justify-content: space-between;
  }
  .cart__input, .cart__sum {
    width: 49%;
  }
}
@media (max-width: 767px) {
  .cart__form {
    flex-direction: column;
    justify-content: start;
  }
  .cart__input, .cart__sum {
    width: 100%;
  }
  .cart__link {
    padding: 9px 17px;
    font-size: 12px;
    width: 48%;
  }
  .cards__card {
    justify-content: space-between;
  }
  .cards__img {
    width: 30%;
  }
  .cards__info {
    padding: 13px 17px;
  }
  .cards__info div, .cards__info div span {
    font-size: 14px;
    line-height: 1.8;
  }
  .cards__name {
    font-size: 16px;
  }
}
.catalog__container {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.catalog__card {
  background: #F8F8F8;
}
.catalog__img {
  height: 420px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.catalog__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__img::after {
  content: url(./img/basket.png);
  position: absolute;
}
.catalog__img:hover > .catalog__basket {
  opacity: 0.86;
  display: flex;
}
.catalog__basket {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #3A3838;
  display: none;
  justify-content: center;
  align-items: center;
}
.catalog__basket > a {
  display: block;
  width: 139px;
  height: 44px;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 13px;
  padding-left: 50px;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.catalog__basket > a::before {
  content: url(./img/basket.png);
  width: 26px;
  height: 24px;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.catalog__text {
  padding: 25px 16px;
}
.catalog__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.catalog__deck {
  color: #5D5D5D;
  font-size: 14px;
  margin-bottom: 16px;
}
.catalog__prise {
  color: #F16D7F;
  font-size: 16px;
}
.catalog__list {
  grid-column: 1/-1;
  margin: auto;
  background: #fff;
  border: 1px solid #EBEBEB;
  min-height: 48px;
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.catalog__item {
  display: block;
  color: #C4C4C4;
  font-size: 16px;
}
.catalog__item:hover a {
  color: #F16D7F;
}
.catalog__item:hover a svg {
  fill: #F16D7F;
}
.catalog__item svg {
  width: 8px;
  height: 14px;
  fill: #000000;
}
.catalog__item--ml {
  margin-left: 20px;
}
.catalog__item--ml0 {
  margin-left: 0;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .catalog__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .catalog__name {
    margin-bottom: 13px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .catalog__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.filter__name {
  display: flex;
  align-items: start;
  padding: 50px 0;
}
.filter__all {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin-right: 320px;
  position: relative;
}
.filter__all svg {
  margin-left: 11px;
  fill: #000000;
}
.filter__all[open] {
  padding: 13px 16px;
  width: 360px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.1764705882);
}
.filter__all[open] > summary {
  color: #EF5B70;
  padding: 0;
}
.filter__all[open] > summary > svg {
  fill: #EF5B70;
}
.filter__title {
  color: #EF5B70;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-right: 16px;
}
.filter__trend, .filter__size, .filter__price {
  margin-right: 27px;
  color: #6F6E6E;
}
.filter__trend svg, .filter__size svg, .filter__price svg {
  margin-left: 10px;
}

summary {
  list-style: none;
  cursor: pointer;
  padding: 13px 16px;
}

.all__list > ul {
  margin: 24px 0 4px 16px;
  list-style: none;
}
.all__list > ul > li {
  margin-bottom: 11px;
}
.all__category {
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0 12px 11px;
  margin-top: 20px;
  color: #EF5B70;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.size__list {
  list-style: none;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.1764705882);
  padding: 7px 9px;
}
.size__list > li {
  margin-bottom: 6px;
}
.size__list > li > a {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin-right: 9px;
}

@media (max-width: 1180px) {
  .filter__name {
    justify-content: space-between;
  }
  .filter__all {
    margin-right: auto;
  }
  .filter__price {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .filter__trend svg, .filter__size svg, .filter__price svg {
    margin-left: 0px;
  }
  .filter__trend, .filter__size {
    margin-right: 0px;
  }
  summary {
    font-size: 12px;
  }
  summary > span {
    display: none;
  }
}
.registration__container {
  padding: 64px 0 96px 0;
  display: flex;
  justify-content: space-between;
}
.registration__form {
  width: 360px;
}
.registration__descr {
  width: 652px;
}
.registration__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: light;
  color: #000000;
  margin-bottom: 22px;
}
.registration__text {
  font-size: 24px;
  font-weight: light;
  color: #000000;
  margin-bottom: 22px;
}
.registration__list {
  list-style: none;
}
.registration__list li {
  font-size: 24px;
  font-weight: light;
  color: #000000;
  margin-bottom: 16px;
}
.registration__list li::before {
  content: url("img/mark1.png");
  margin-right: 15px;
}

.registr__name {
  font-size: 16px;
  font-weight: light;
  color: #222222;
}
.registr__form input[type=text] {
  border: 1px solid #A4A4A4;
  width: 100%;
  height: 45px;
  padding: 14px 17px;
  font-size: 13px;
  font-weight: light;
  color: #B1B1B1;
  margin-top: 20px;
}
.registr__form input[type=submit] {
  height: 50px;
  padding: 16px 29px;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  position: relative;
}
.registr__form input[type=submit]::before {
  content: url("img/arrow_form.png");
  position: absolute;
  top: 0;
  left: 0;
}
.registr__radio {
  display: flex;
  margin: 32px 0;
}
.registr__radio p {
  margin-right: 20px;
}
.registr__radio input[type=radio] {
  font-size: 11px;
  font-weight: light;
  color: #000000;
  margin-right: 10px;
}
.registr__dn {
  display: none;
}
.registr__caption {
  font-size: 13px;
  font-weight: light;
  color: #B1B1B1;
  margin: 20px 0 39px 0;
}

@media (max-width: 1180px) {
  .registration__form {
    width: 48%;
  }
  .registration__descr {
    width: 48%;
  }
  .registration__title {
    font-size: 16px;
  }
  .registration__text {
    font-size: 16px;
  }
  .registration__list li {
    font-size: 16px;
  }
  .registr__radio--dn {
    display: block;
  }
}
@media (max-width: 767px) {
  .registration__container {
    flex-direction: column;
  }
  .registration__form {
    width: 100%;
    margin-bottom: 40px;
  }
  .registration__descr {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */