* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}
a:active,
button:active {
  border: none;
}

input:active {
  border: none;
}

.container {
  width: 1140px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .container {
    width: 736px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .container {
    width: 90%;
  }
}
.header {
  background: #222;
  padding: 18px 0;
  position: relative;
}
.header__container {
  display: flex;
  align-items: end;
}
.header__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__logo {
  width: 44px;
  height: 38px;
  margin-right: 40px;
}
.header__search {
  width: 26px;
  height: 27px;
  margin-right: auto;
}
.header__burger {
  width: 32px;
  height: 23px;
  margin-right: 33px;
}
.header__person {
  width: 29px;
  height: 29px;
  margin-right: 33px;
}
.header__basket {
  width: 32px;
  height: 29px;
  position: relative;
}
.header__quantity {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.header__menu {
  padding: 32px 33px;
  width: 232px;
  background: #FFFFFF;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
}
.header:hover > .header__menu {
  display: block;
}

.menu__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: block;
  margin-top: 12px;
}
.menu__category {
  font-size: 14px;
  text-transform: uppercase;
  color: #F16D7F;
}
.menu__subcategories {
  margin-left: 20px;
  font-size: 14px;
  color: #6F6E6E;
  text-transform: none;
}

@media (min-width: 768px) and (max-width: 1060px) {
  .header__burger {
    margin-right: 25px;
  }
  .header__person {
    margin-right: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__burger {
    margin-right: 0;
  }
  .header__person, .header__basket {
    display: none;
  }
}
.showcase {
  background: #F1E4E6;
}
.showcase__container {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  min-height: 363px;
}
.showcase__img {
  width: 800px;
  height: 100%;
  margin-right: 63px;
}
.showcase__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.showcase__title {
  text-transform: uppercase;
  line-height: normal;
  width: 377px;
  position: relative;
}
.showcase__title--one {
  font-size: 48px;
  font-weight: 900;
}
.showcase__title--two, .showcase__title--three {
  font-size: 32px;
  font-weight: 700;
}
.showcase__title--three {
  color: #F16D7F;
}
.showcase__title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  background: #F16D7F;
  top: 0;
  bottom: 0;
  left: -28px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .showcase__img {
    width: 386px;
    margin-right: 39px;
  }
  .showcase__title {
    width: 253px;
  }
  .showcase__title--one {
    font-size: 44px;
  }
  .showcase__title--two, .showcase__title--three {
    font-size: 24px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .showcase__container {
    justify-content: center;
  }
  .showcase__img {
    display: none;
  }
  .showcase__title {
    width: 243px;
    margin: auto;
  }
  .showcase__title--one {
    font-size: 38px;
  }
  .showcase__title--two, .showcase__title--three {
    font-size: 20px;
  }
}
.catalog__container {
  margin-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.catalog__card {
  position: relative;
  overflow: hidden;
}
.catalog__card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 0;
}
.catalog__card--one {
  height: 260px;
}
.catalog__card--full {
  height: 180px;
  grid-column: 1/-1;
}
.catalog__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 22, 22, 0.6980392157);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.catalog__sale {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}
.catalog__descr {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .catalog__container {
    margin-bottom: 110px;
    gap: 20px;
  }
  .catalog__card--one {
    height: 167px;
  }
  .catalog__card--full {
    height: 116px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .catalog__container {
    margin-bottom: 64px;
    grid-template-columns: repeat(1, 1fr);
  }
  .catalog__card--one {
    height: 247px;
  }
  .catalog__card--full {
    height: 111px;
  }
}
.product__container {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product__title {
  grid-column: 1/-1;
  margin-bottom: 48px;
}
.product__title > h2 {
  font-size: 30px;
  text-align: center;
}
.product__title > p {
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
}
.product__card {
  background: #F8F8F8;
}
.product__img {
  height: 420px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.product__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__img::after {
  content: url(./img/basket.png);
  position: absolute;
}
.product__img:hover > .product__basket {
  opacity: 0.86;
  display: flex;
}
.product__basket {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #3A3838;
  display: none;
  justify-content: center;
  align-items: center;
}
.product__basket > a {
  display: block;
  width: 139px;
  height: 44px;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 13px;
  padding-left: 50px;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.product__basket > a::before {
  content: url(./img/basket.png);
  width: 26px;
  height: 24px;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.product__text {
  padding: 25px 16px;
}
.product__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.product__deck {
  color: #5D5D5D;
  font-size: 14px;
  margin-bottom: 16px;
}
.product__prise {
  color: #F16D7F;
  font-size: 16px;
}
.product__link {
  display: block;
  grid-column: 1/-1;
  margin: auto;
  background: #fff;
  border: 1px solid #FF6A6A;
  width: 212px;
  min-height: 48px;
  padding: 15px 39px;
  color: #F26376;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__name {
    margin-bottom: 13px;
  }
}
@media (min-width: 1px) and (max-width: 767px) {
  .product__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages {
  background-color: #222224;
}
.advantages__container {
  padding: 103px 0;
  display: flex;
  justify-content: space-between;
}
.advantages__card {
  max-width: 360px;
}

.advantage {
  color: #FBFBFB;
}
.advantage__img {
  width: 45px;
  height: 31px;
  margin: auto;
  margin-bottom: 28px;
}
.advantage__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantage__title {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 16px;
}
.advantage__descr {
  font-size: 14px;
  text-align: center;
}

@media (max-width: 1160px) {
  .advantages__container {
    display: block;
  }
  .advantages__card {
    margin: auto;
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .advantage__img {
    width: 43px;
    height: 30px;
  }
}
.subscription {
  position: relative;
}
.subscription__background {
  width: 100%;
  min-height: 448px;
  height: 100%;
  background: url(./img/subscription.png) 0 0/100% no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.subscription__background::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  opacity: 0.7;
}
.subscription__container {
  padding: 97px 0 126px 0;
  display: flex;
  justify-content: space-between;
}
.subscription__review {
  max-width: 360px;
}
.subscription__form {
  max-width: 557px;
}

.review__img {
  width: 96px;
  height: 96px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 50%;
}
.review__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__text, .review__text > i {
  font-size: 20px;
  text-align: center;
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.form__text {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form__subscription {
  margin: auto;
  width: 356px;
  height: 49px;
  border: none;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.form__subscription > input {
  border: none;
  font-size: 14px;
  color: #222224;
  width: 100%;
  height: 100%;
  background: #E1E1E1;
  padding: 22px;
  padding-right: 233px;
}
.form__subscription > button {
  border: none;
  background: #F16D7F;
  color: #FFFFFF;
  padding: 0 22px;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

@media (max-width: 1160px) {
  .subscription__container {
    display: block;
    margin: auto;
  }
  .review {
    margin: auto;
  }
  .review__text {
    margin-bottom: 48px;
  }
  .form {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .review__text, .review__text > i {
    font-size: 18px;
  }
}
.footer {
  background: #222224;
  padding: 30px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__copyright > p {
  font-size: 16px;
  color: #FBFBFB;
}
.footer__social {
  height: 32px;
  display: flex;
  align-items: end;
}
.footer__icon {
  height: 100%;
  width: auto;
}
.footer__icon:not(:last-child) {
  margin-right: 7px;
}
.footer__icon > a > svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__icon > a > svg .rect {
  fill: #FFFFFF;
}
.footer__icon > a > svg .logo {
  fill: #000000;
}
.footer__icon > a > svg:hover .rect {
  fill: #F16D7F;
}
.footer__icon > a > svg:hover .logo {
  fill: #FFFFFF;
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 5px;
  }
  .footer__copyright {
    order: 1;
    width: 100%;
  }
  .footer__copyright > p {
    text-align: center;
  }
  .footer__social {
    margin: auto;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */